<% @recipe = Recipe.find(params[:id])  %>
<%= @recipe.name %>

  <%= form_for Ingredient.new, :html => {:id => "show"} do |f| %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>

<div id="ingredients">

</div>
